In [1]:
import pandas as pd

In [58]:
data = pd.read_excel('datasets\MHRD\Gross_enroll_ratio_all_students.xlsx.xlsx',header=[0,1])

In [59]:
data

Level/   Year Primary                 Upper-primary               Elementary  \
                 Male  Female   Total          Male Female  Total       Male
1950-51         60.60   24.80   42.60         20.60   4.60  12.70      46.40
1960-61         82.60   41.40   62.40         33.20  11.30  22.50      65.20
1970-71         95.50   60.50   78.60         46.50  20.80  33.40      75.50
1980-81         95.80   64.10   80.50         54.30  28.60  41.90      82.20
1990-91         94.80   71.90   83.80         80.10  51.90  66.70      90.30
2000-01        104.90   85.90   95.70         66.70  49.90  58.60      90.30
2005-06        112.80  105.80  109.40         75.20  66.40  71.00      98.50
2006-07        114.59  108.00  111.40         77.59  69.64  73.78     100.43
2007-08        115.26  112.58  113.97         81.48  74.36  78.06     102.36
2008-09        114.70  114.00  114.30         82.70  76.60  79.80     102.50
2009-10        113.80  113.80  113.80         84.30  79.00  81.70     102.50
2010-11        114.90  116.30  115.50         87.50  82.90  85.20     104.50
2011-12        105.80  107.10  106.50         82.50  81.40  82.00      97.20
2012-13*       104.80  107.20  105.98         80.60  84.60  82.50      95.60
2013-14*       100.20  102.60  101.40         86.30  92.80  89.30      95.10
2014-15*        98.90  101.40  100.10         87.70  95.30  91.20      94.80

Level/   Year
               Female   Total
1950-51         17.70   32.10
1960-61         30.90   48.70
1970-71         44.40   61.90
1980-81         52.10   67.50
1990-91         65.90   78.60
2000-01         72.40   81.60
2005-06         91.00   94.90
2006-07         93.47   97.08
2007-08         98.02  100.28
2008-09         99.60  101.10
2009-10        100.40  101.50
2010-11        103.30  103.90
2011-12         97.60   97.40
2012-13*        98.60   97.00
2013-14*        99.10   97.00
2014-15*        99.20   96.90

In [60]:
index = data.columns

In [61]:
index

MultiIndex(levels=[['Elementary', 'Primary', 'Upper-primary'], ['Female', 'Male', 'Total']],
           labels=[[1, 1, 1, 2, 2, 2, 0, 0, 0], [1, 0, 2, 1, 0, 2, 1, 0, 2]],
           names=['Level/   Year', None])

In [62]:
datat = data.T

In [63]:
datat

                      1950-51  1960-61  1970-71  1980-81  1990-91  2000-01  \
Level/   Year
Primary       Male       60.6     82.6     95.5     95.8     94.8    104.9
              Female     24.8     41.4     60.5     64.1     71.9     85.9
              Total      42.6     62.4     78.6     80.5     83.8     95.7
Upper-primary Male       20.6     33.2     46.5     54.3     80.1     66.7
              Female      4.6     11.3     20.8     28.6     51.9     49.9
              Total      12.7     22.5     33.4     41.9     66.7     58.6
Elementary    Male       46.4     65.2     75.5     82.2     90.3     90.3
              Female     17.7     30.9     44.4     52.1     65.9     72.4
              Total      32.1     48.7     61.9     67.5     78.6     81.6

                      2005-06  2006-07  2007-08  2008-09  2009-10  2010-11  \
Level/   Year
Primary       Male      112.8   114.59   115.26    114.7    113.8    114.9
              Female    105.8   108.00   112.58    114.0    113.8    116.3
              Total     109.4   111.40   113.97    114.3    113.8    115.5
Upper-primary Male       75.2    77.59    81.48     82.7     84.3     87.5
              Female     66.4    69.64    74.36     76.6     79.0     82.9
              Total      71.0    73.78    78.06     79.8     81.7     85.2
Elementary    Male       98.5   100.43   102.36    102.5    102.5    104.5
              Female     91.0    93.47    98.02     99.6    100.4    103.3
              Total      94.9    97.08   100.28    101.1    101.5    103.9

                      2011-12  2012-13*  2013-14*  2014-15*
Level/   Year
Primary       Male      105.8    104.80     100.2      98.9
              Female    107.1    107.20     102.6     101.4
              Total     106.5    105.98     101.4     100.1
Upper-primary Male       82.5     80.60      86.3      87.7
              Female     81.4     84.60      92.8      95.3
              Total      82.0     82.50      89.3      91.2
Elementary    Male       97.2     95.60      95.1      94.8
              Female     97.6     98.60      99.1      99.2
              Total      97.4     97.00      97.0      96.9

In [44]:
data_clean = datat.drop(datat.columns[[-1,-2]],axis=1)

In [45]:
data_clean.to_csv('datasets\MHRD\Gross_enroll_ratio_all_students.csv')

In [64]:
data = pd.read_csv('datasets\MHRD\Gross_enroll_ratio_all_students.csv')

In [65]:
data

,Level/ Year,Unnamed: 1,1950-51,1960-61,1970-71,1980-81,1990-91,2000-01,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13*
0,Primary,Male,60.6,82.6,95.5,95.8,94.8,104.9,112.8,114.59,115.26,114.7,113.8,114.9,105.8,104.80
1,Primary,Female,24.8,41.4,60.5,64.1,71.9,85.9,105.8,108.00,112.58,114.0,113.8,116.3,107.1,107.20
2,Primary,Total,42.6,62.4,78.6,80.5,83.8,95.7,109.4,111.40,113.97,114.3,113.8,115.5,106.5,105.98
3,Upper-primary,Male,20.6,33.2,46.5,54.3,80.1,66.7,75.2,77.59,81.48,82.7,84.3,87.5,82.5,80.60
4,Upper-primary,Female,4.6,11.3,20.8,28.6,51.9,49.9,66.4,69.64,74.36,76.6,79.0,82.9,81.4,84.60
5,Upper-primary,Total,12.7,22.5,33.4,41.9,66.7,58.6,71.0,73.78,78.06,79.8,81.7,85.2,82.0,82.50
6,Elementary,Male,46.4,65.2,75.5,82.2,90.3,90.3,98.5,100.43,102.36,102.5,102.5,104.5,97.2,95.60
7,Elementary,Female,17.7,30.9,44.4,52.1,65.9,72.4,91.0,93.47,98.02,99.6,100.4,103.3,97.6,98.60
8,Elementary,Total,32.1,48.7,61.9,67.5,78.6,81.6,94.9,97.08,100.28,101.1,101.5,103.9,97.4,97.00

In [48]:
data = data.rename(index=str, columns={'Unnamed: 1':'Gender'})

In [49]:
data

,Level/ Year,Gender,1950-51,1960-61,1970-71,1980-81,1990-91,2000-01,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13*
0,Primary,Male,60.6,82.6,95.5,95.8,94.8,104.9,112.8,114.59,115.26,114.7,113.8,114.9,105.8,104.80
1,Primary,Female,24.8,41.4,60.5,64.1,71.9,85.9,105.8,108.00,112.58,114.0,113.8,116.3,107.1,107.20
2,Primary,Total,42.6,62.4,78.6,80.5,83.8,95.7,109.4,111.40,113.97,114.3,113.8,115.5,106.5,105.98
3,Upper-primary,Male,20.6,33.2,46.5,54.3,80.1,66.7,75.2,77.59,81.48,82.7,84.3,87.5,82.5,80.60
4,Upper-primary,Female,4.6,11.3,20.8,28.6,51.9,49.9,66.4,69.64,74.36,76.6,79.0,82.9,81.4,84.60
5,Upper-primary,Total,12.7,22.5,33.4,41.9,66.7,58.6,71.0,73.78,78.06,79.8,81.7,85.2,82.0,82.50
6,Elementary,Male,46.4,65.2,75.5,82.2,90.3,90.3,98.5,100.43,102.36,102.5,102.5,104.5,97.2,95.60
7,Elementary,Female,17.7,30.9,44.4,52.1,65.9,72.4,91.0,93.47,98.02,99.6,100.4,103.3,97.6,98.60
8,Elementary,Total,32.1,48.7,61.9,67.5,78.6,81.6,94.9,97.08,100.28,101.1,101.5,103.9,97.4,97.00

In [50]:
data.to_csv('datasets\MHRD\Gross_enroll_ratio_all_students-final.csv')