In [1]:
import pandas as pd

In [26]:
data = pd.read_excel('datasets\MHRD\Gross_enroll_ratio_all_students.xlsx',header=[0,1])

In [31]:
index = data.columns

In [35]:
index.levels[0] = pd.Index(['Elementary(I-VIII)6-13 Years', 'Primary( I-V)6-10 Years',
       'Upper primary(VI-VIII)11-13 Years'],
      dtype='object', name='Level/   Year')

TypeError: 'FrozenList' does not support mutable operations.

In [8]:
datat = data.T

In [12]:
data_clean = datat.drop(datat.columns[[-1,-2]],axis=1)

In [13]:
data_clean.to_csv('datasets\MHRD\Gross_enroll_ratio_all_students.csv')

In [15]:
data = pd.read_csv('datasets\MHRD\Gross_enroll_ratio_all_students.csv')

In [16]:
data.columns

Index(['Level/   Year', 'Unnamed: 1', '1950-51', '1960-61', '1970-71',
       '1980-81', '1990-91', '2000-01', '2005-06', '2006-07', '2007-08',
       '2008-09', '2009-10', '2010-11', '2011-12', '2012-13*', '2013-14*',
       '2014-15*'],
      dtype='object')

In [18]:
data = data.rename(index=str, columns={'Unnamed: 1':'Gender'})

In [25]:
data

,Level/ Year,Gender,1950-51,1960-61,1970-71,1980-81,1990-91,2000-01,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13*,2013-14*,2014-15*
0,Primary\r\n( I-V)\r\n6-10 Years,Male,60.6,82.6,95.5,95.8,94.8,104.9,112.8,114.59,115.26,114.7,113.8,114.9,105.8,104.80,100.2,98.9
1,Primary\r\n( I-V)\r\n6-10 Years,Female,24.8,41.4,60.5,64.1,71.9,85.9,105.8,108.00,112.58,114.0,113.8,116.3,107.1,107.20,102.6,101.4
2,Primary\r\n( I-V)\r\n6-10 Years,Total,42.6,62.4,78.6,80.5,83.8,95.7,109.4,111.40,113.97,114.3,113.8,115.5,106.5,105.98,101.4,100.1
3,Upper primary\r\n(VI-VIII)\r\n11-13 Years,Male,20.6,33.2,46.5,54.3,80.1,66.7,75.2,77.59,81.48,82.7,84.3,87.5,82.5,80.60,86.3,87.7
4,Upper primary\r\n(VI-VIII)\r\n11-13 Years,Female,4.6,11.3,20.8,28.6,51.9,49.9,66.4,69.64,74.36,76.6,79.0,82.9,81.4,84.60,92.8,95.3
5,Upper primary\r\n(VI-VIII)\r\n11-13 Years,Total,12.7,22.5,33.4,41.9,66.7,58.6,71.0,73.78,78.06,79.8,81.7,85.2,82.0,82.50,89.3,91.2
6,Elementary\r\n(I-VIII)\r\n6-13 Years,Male,46.4,65.2,75.5,82.2,90.3,90.3,98.5,100.43,102.36,102.5,102.5,104.5,97.2,95.60,95.1,94.8
7,Elementary\r\n(I-VIII)\r\n6-13 Years,Female,17.7,30.9,44.4,52.1,65.9,72.4,91.0,93.47,98.02,99.6,100.4,103.3,97.6,98.60,99.1,99.2
8,Elementary\r\n(I-VIII)\r\n6-13 Years,Total,32.1,48.7,61.9,67.5,78.6,81.6,94.9,97.08,100.28,101.1,101.5,103.9,97.4,97.00,97.0,96.9