In [11]:
import pandas as pd

In [12]:
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]

In [13]:
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]

In [14]:
state = pd.Series(populations,index=index)

In [15]:
state

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [16]:
state[('New York',2000)]

18976457

In [17]:
state.index

Index([('California', 2000), ('California', 2010),   ('New York', 2000),
         ('New York', 2010),      ('Texas', 2000),      ('Texas', 2010)],
      dtype='object')

In [18]:
[i for i in state.index if i[1] == 2010]

[('California', 2010), ('New York', 2010), ('Texas', 2010)]

In [19]:
state[[i for i in state.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [20]:
state

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

### Pandas MultiIndex
* from_tuple
* from_array
* from_product

In [21]:
index

[('California', 2000),
 ('California', 2010),
 ('New York', 2000),
 ('New York', 2010),
 ('Texas', 2000),
 ('Texas', 2010)]

In [22]:
state

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [23]:
#take tuple list & convert into multi-index
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [24]:
data = state.reindex(index)

In [25]:
data

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [26]:
d = data.unstack()

In [27]:
d.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [28]:
data.unstack()

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [29]:
import numpy as np
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])

In [30]:
df

        data1     data2
a 1  0.489319  0.570670
  2  0.820478  0.226429
b 1  0.678880  0.482653
  2  0.094276  0.647483

In [31]:
index = pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

In [32]:
pd.DataFrame(np.random.rand(4, 2), index=index)

            0         1
a 1  0.731894  0.473090
  2  0.927799  0.537557
b 1  0.734483  0.458553
  2  0.734322  0.098531

In [33]:
index = pd.MultiIndex.from_product([['a','b'], [1,2]])

In [34]:
index

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [35]:
d = pd.DataFrame(np.random.rand(4, 2), index=index)

In [36]:
d.index.names = ['state','year']

In [37]:
d

                   0         1
state year
a     1     0.915862  0.750231
      2     0.244594  0.294963
b     1     0.729492  0.276767
      2     0.573454  0.275011

In [38]:
df = pd.DataFrame({'state':data})

In [39]:
df

                    state
California 2000  33871648
           2010  37253956
New York   2000  18976457
           2010  19378102
Texas      2000  20851820
           2010  25145561

In [40]:
data

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [41]:
df

                    state
California 2000  33871648
           2010  37253956
New York   2000  18976457
           2010  19378102
Texas      2000  20851820
           2010  25145561

In [42]:
df['state']

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
Name: state, dtype: int64

In [57]:
du = data.unstack()

In [59]:
du[[2010]]

                2010
California  37253956
New York    19378102
Texas       25145561