### GroupBy

In [2]:
import pandas as pd
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])

In [3]:
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [5]:
# groupby retuens a groupby object
df.groupby('key').sum()

     data
key
A       3
B       5
C       7

In [7]:
gb = df.groupby('key')

### GroupBy Object

In [10]:
df.groupby('key')['sum']

KeyError: 'Column not found: sum'

In [17]:
df.mean(axis="rows")

data    2.5
dtype: float64

In [13]:
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [20]:
gb.count()

     data
key
A       2
B       2
C       2

In [21]:
gb.first()

     data
key
A       0
B       1
C       2

In [22]:
gb.mad()

     data
key
A     1.5
B     1.5
C     1.5

In [23]:
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [24]:
df.mean()

data    2.5
dtype: float64

In [25]:
gb.mean()

     data
key
A     1.5
B     2.5
C     3.5

In [27]:
import numpy as np
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])

In [28]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [34]:
df.groupby('key').aggregate(['min',max, np.median])

    data1            data2
      min max median   min max median
key
A       0   3    1.5     3   5    4.0
B       1   4    2.5     0   7    3.5
C       2   5    3.5     3   9    6.0

In [35]:
df.groupby('key').aggregate({'data1':'min', 'data2':'max'})

     data1  data2
key
A        0      5
B        1      7
C        2      9

In [37]:
df.groupby('key').filter(lambda x: x['data2'].mean() < 4)

  key  data1  data2
1   B      1      0
4   B      4      7

In [43]:
def fun(x):
    return x['data2'].mean() < 4
    
df.groupby('key').filter(fun)

-------
  key  data1  data2
0   A      0      5
3   A      3      3
-------
-------
  key  data1  data2
1   B      1      0
4   B      4      7
-------
-------
  key  data1  data2
2   C      2      3
5   C      5      9
-------

  key  data1  data2
1   B      1      0
4   B      4      7

In [44]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9