In [1]:
import pandas as pd
import numpy as np

### Panda Series Object
* Flexible numpy array
* Contains index & values
* Pandas has two parts - Series & DataFrames

In [2]:
data = pd.Series([11,12,13,14])

In [3]:
data

0    11
1    12
2    13
3    14
dtype: int64

In [7]:
data[0]

11

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
type(data.values)

numpy.ndarray

In [10]:
type(data)

pandas.core.series.Series

In [11]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
data[1:3]

1    12
2    13
dtype: int64

In [6]:
new_data = pd.Series([11,22,33,44], index=['a','b','c','d'])

In [8]:
new_data['a']

11

In [7]:
new_data

a    11
b    22
c    33
d    44
dtype: int64

In [16]:
new_data = pd.Series([11,22,33,44], index=['a','b','c','a'])

In [17]:
new_data

a    11
b    22
c    33
a    44
dtype: int64

In [9]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

In [10]:
# Converts dictionary into panda.Series
population = pd.Series(population_dict)

In [12]:
population[1:4]

Florida     19552860
Illinois    12882135
New York    19651127
dtype: int64

In [14]:
d = pd.Series(5, index=[100,200,300])
d[100]

5

### Pandas DataFrame Object
* Collection of series

In [17]:
city = pd.Series(['bangalore','mumbai','kochi','delhi'], index=[1,2,3,4])

In [22]:
population = pd.Series([1.1, 5.2, 4.4, 3.1], index=[1,2,3,4])

In [23]:
df = pd.DataFrame({'city':city, 'population in crs':population})

In [24]:
df

        city  population in crs
1  bangalore                1.1
2     mumbai                5.2
3      kochi                4.4
4      delhi                3.1

In [29]:
population = pd.Series([1.1, 5.2, 4.4, 3.1], index=[1,2,3,5])

In [30]:
df2 = pd.DataFrame({'city':city, 'population in crs':population})

In [28]:
df['great'] = pd.Series([11, 52, 44, 31], index=[1,2,3,4]) # Adding new series to data
df

        city  population in crs  good  great
1  bangalore                1.1    11     11
2     mumbai                5.2    52     52
3      kochi                4.4    44     44
4      delhi                3.1    31     31

In [29]:
df.index

Int64Index([1, 2, 3, 4], dtype='int64')

In [30]:
df.columns

Index(['city', 'population in crs', 'good', 'great'], dtype='object')

In [32]:
pd.DataFrame( {'cities':city, 'population':population},columns=['cities','population'])

      cities  population
1  bangalore         1.1
2     mumbai         5.2
3      kochi         4.4
4      delhi         3.1

In [35]:
city

1    bangalore
2       mumbai
3        kochi
4        delhi
dtype: object

In [34]:
df = pd.DataFrame( {'cities':city, 'population':population})

In [38]:
type(df[['cities']])

pandas.core.frame.DataFrame

In [46]:
df[['cities']]

      cities
1  bangalore
2     mumbai
3      kochi
4      delhi
5        NaN

In [40]:
mat = np.random.randint(100, size=(3,2))

In [41]:
mat

array([[69, 94],
       [ 0, 19],
       [82, 31]])

In [61]:
d = pd.DataFrame(mat, columns=['maths','science'], index=['a','b','v'])
#d.columns = ['abc','def']
x = d.rename (index=str, columns={'maths':1})
x[1]
help(d.rename)

Help on method rename in module pandas.core.frame:

rename(index=None, columns=None, **kwargs) method of pandas.core.frame.DataFrame instance
    Alter axes input function or functions. Function / dict values must be
    unique (1-to-1). Labels not contained in a dict / Series will be left
    as-is. Extra labels listed don't throw an error. Alternatively, change
    ``Series.name`` with a scalar value (Series only).

    Parameters
    ----------
    index, columns : scalar, list-like, dict-like or function, optional
        Scalar or list-like will alter the ``Series.name`` attribute,
        and raise on DataFrame or Panel.
        dict-like or functions are transformations to apply to
        that axis' values
    copy : boolean, default True
        Also copy underlying data
    inplace : boolean, default False
        Whether to return a new DataFrame. If True then value of copy is
        ignored.

    Returns
    -------
    renamed : DataFrame (new object)

    See Also
    --------
    pandas.NDFrame.rename_axis

    Examples
    --------
    >>> s = pd.Series([1, 2, 3])
    >>> s
    0    1
    1    2
    2    3
    dtype: int64
    >>> s.rename("my_name") # scalar, changes Series.name
    0    1
    1    2
    2    3
    Name: my_name, dtype: int64
    >>> s.rename(lambda x: x ** 2)  # function, changes labels
    0    1
    1    2
    4    3
    dtype: int64
    >>> s.rename({1: 3, 2: 5})  # mapping, changes labels
    0    1
    3    2
    5    3
    dtype: int64
    >>> df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
    >>> df.rename(2)
    ...
    TypeError: 'int' object is not callable
    >>> df.rename(index=str, columns={"A": "a", "B": "c"})
       a  c
    0  1  4
    1  2  5
    2  3  6
    >>> df.rename(index=str, columns={"A": "a", "C": "c"})
       a  B
    0  1  4
    1  2  5
    2  3  6

In [66]:
index = pd.Index(['ab','cd','ef',4])

In [67]:
city

1    bangalore
2       mumbai
3        kochi
4        delhi
dtype: object

In [68]:
pd.DataFrame(city,index=index)

        0
ab    NaN
cd    NaN
ef    NaN
4   delhi

In [54]:
city

1    bangalore
2       mumbai
3        kochi
4        delhi
dtype: object

In [57]:
idx = pd.Index([1,3,4])

In [58]:
pd.DataFrame(city,index=idx)

           0
1  bangalore
3      kochi
4      delhi

In [59]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [60]:
data['b']

0.5

In [71]:
print (data.keys())

RangeIndex(start=0, stop=4, step=1)

In [72]:
print(data.index)

RangeIndex(start=0, stop=4, step=1)

In [66]:
data.item

<bound method Series.item of a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64>

In [73]:
a = u'a'
a

'a'

In [69]:
df[1:]

   cities  population
2  mumbai         5.2
3   kochi         4.4
4   delhi         NaN
5     NaN         3.1

In [70]:
num = np.random.random((3,4))

In [71]:
num

array([[ 0.24289184,  0.03828147,  0.9859674 ,  0.72981749],
       [ 0.03825656,  0.12331784,  0.43912849,  0.42234129],
       [ 0.12449928,  0.90454206,  0.19295449,  0.62103351]])

In [73]:
d = pd.DataFrame(num)

In [75]:
d[ (d <0.5) & (d > 0.3)]

    0   1         2         3
0 NaN NaN       NaN       NaN
1 NaN NaN  0.439128  0.422341
2 NaN NaN       NaN       NaN

In [78]:
df = pd.DataFrame({'a':[1,2,3],'b':[5,6,7]})

In [82]:
df[df['a'] > 2]

   a  b
2  3  7

### Indexers: loc, iloc & ix

In [89]:
df.loc[2]

a    3
b    7
Name: 2, dtype: int64

In [86]:
df

   a  b
0  1  5
1  2  6
2  3  7

In [91]:
df.loc[1:3]

   a  b
1  2  6
2  3  7

In [92]:
df.iloc[1:3]

   a  b
1  2  6
2  3  7

In [93]:
# loc - works on labels in the index
# iloc - works on position on the index
# ix - usually behave like loc but falls back to iloc if labels are not present

In [94]:
df = pd.DataFrame({'a':[1,2,3], 'b':[4,5,6]}, index=['x','y','z'])

In [95]:
df

   a  b
x  1  4
y  2  5
z  3  6

In [99]:
df.loc('x':'z')

SyntaxError: invalid syntax (<ipython-input-99-2cd216bf2088>, line 1)

In [100]:
s = pd.Series(np.nan, index=[49,48,47,46,45, 1, 2, 3, 4, 5])

In [102]:
s.loc[:3]

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
dtype: float64

In [103]:
s.iloc[:3]

49   NaN
48   NaN
47   NaN
dtype: float64

In [116]:
s.ix[:3]

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
dtype: float64

In [110]:
d = pd.Series([1,2,3,4,5])

In [114]:
d.ix[3:3]

3    4
dtype: int64