In [38]:
import pandas as pd

df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6), 'data2':range(2,8)}, columns=['key', 'data','data2'])

In [6]:
df

  key  data  data2
0   A     0      2
1   B     1      3
2   C     2      4
3   A     3      5
4   B     4      6
5   C     5      7

In [9]:
df.groupby('key').mean()

     data  data2
key
A     1.5    3.5
B     2.5    4.5
C     3.5    5.5

In [10]:
gb = df.groupby('key')

In [11]:
gb.max()

     data  data2
key
A       3      5
B       4      6
C       5      7

In [12]:
gb.count()

     data  data2
key
A       2      2
B       2      2
C       2      2

In [14]:
import numpy as np

In [15]:
rng = np.random.RandomState(0)

df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])

In [19]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [27]:
gb = df.groupby('key')

In [24]:
gb.aggregate(['min',max, np.median])

    data1            data2
      min max median   min max median
key
A       0   3    1.5     3   5    4.0
B       1   4    2.5     0   7    3.5
C       2   5    3.5     3   9    6.0

In [25]:
gb.aggregate({'data1':'min', 'data2':'max'})

     data1  data2
key
A        0      5
B        1      7
C        2      9

In [26]:
gb.std()

       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641

#### Filtering

In [18]:
f = lambda x,y : x + y
f(5,6)

11

### Using groubby functions we are filtering & transforming

In [29]:
# x is a groupby object which is gettig to this function
# filter takes an one arg-function, which returns True or False
# Whenever True - data is retained, otherwise false
gb.filter(lambda x: x['data2'].std() > 4)

  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

In [30]:
gb

#### Tranformation
Returns full version of the entire transformed data

In [31]:
gb.transform(lambda x : x + x.mean())

   data1  data2
0    1.5    9.0
1    3.5    3.5
2    5.5    9.0
3    4.5    7.0
4    6.5   10.5
5    8.5   15.0

In [25]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

### Apply

In [28]:
def f(x):
    # Using something on top of groupby always works on groupby data
    x['data1'] = x['data2'].sum() + x['data2'].mean()
    return x

gb.apply(f)

  key  data1  data2
0   A   12.0      5
1   B   10.5      0
2   C   18.0      3
3   A   12.0      3
4   B   10.5      7
5   C   18.0      9

In [38]:
def f(d):
    d['new'] = d['data1'] + d['data2'].sum()
    return d
    
gb.apply(f)

  key  data1  data2  new
0   A      0      5    8
1   B      1      0    8
2   C      2      3   14
3   A      3      3   11
4   B      4      7   11
5   C      5      9   17

### Specifying The split Key

In [33]:
print(df)
d = df['key']
#print(d)
df.groupby(d[:4]).sum()

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

     data1  data2
key
A        3      8
B        1      0
C        2      3

In [43]:
## Mapping of multiple levels of groupby
df2 = df.set_index('key')
#df2 = df
mapping = {'A': 'vowel', 'B': 'consonant', 'C': 'consonant'}
df2.groupby(mapping).sum()

           data  data2
consonant    12     20
vowel         3      7

In [ ]:
gb.