In [1]:
a = 7

In [2]:
type(a)

int

In [3]:
a = 'abc'

In [4]:
type(a)

str

In [10]:
a = [1,2,3,4]
# List can contain hetrogenous data - different data types
# Type of variable is decided based on type of data assigned

In [11]:
type(a)

list

In [12]:
a = [1,'abc',2.0]

In [13]:
a = range(10,20)

In [15]:
for elem in a:
    print(elem)

10
11
12
13
14
15
16
17
18
19

In [16]:
len(a)

10

In [17]:
sum(a)

145

In [18]:
s = 'this is a nice stuff'

In [19]:
type(s)

str

In [21]:
#s[1] = 'd'
# This won't work because list is immutable

In [22]:
s[1]

'h'

In [25]:
s = s.upper()

In [26]:
s

'THIS IS A NICE STUFF'

In [27]:
s1 = s+s

In [28]:
s1

'THIS IS A NICE STUFFTHIS IS A NICE STUFF'

In [30]:
s1.find('NICE')

10

In [31]:
s1.replace(' ','*')

'THIS*IS*A*NICE*STUFFTHIS*IS*A*NICE*STUFF'

In [32]:
s1.isalpha()

False

In [33]:
s1.isdigit()

False

In [34]:
a = '123'

In [35]:
a.isdigit()

True

In [36]:
l = []

In [37]:
l.append(7)

In [38]:
a

'123'

In [39]:
l

[7]

In [40]:
l.append(777)

In [41]:
l

[7, 777]

In [42]:
l.count(7)

1

In [43]:
l

[7, 777]

In [44]:
l.reverse()

In [45]:
l

[777, 7]

In [47]:
l.pop(0)

777

In [48]:
l

[7]

In [49]:
l = range(1,20)

In [50]:
l = [2,3,5,9,5,8]

In [51]:
l

[2, 3, 5, 9, 5, 8]

In [52]:
l + l

[2, 3, 5, 9, 5, 8, 2, 3, 5, 9, 5, 8]

In [53]:
s1

'THIS IS A NICE STUFFTHIS IS A NICE STUFF'

In [55]:
l = s1.split()

In [56]:
l

['THIS', 'IS', 'A', 'NICE', 'STUFFTHIS', 'IS', 'A', 'NICE', 'STUFF']

In [57]:
'*'.join(l)

'THIS*IS*A*NICE*STUFFTHIS*IS*A*NICE*STUFF'

In [58]:
l

['THIS', 'IS', 'A', 'NICE', 'STUFFTHIS', 'IS', 'A', 'NICE', 'STUFF']

In [59]:
for idx,elem in enumerate(l):
    print(idx,elem)

0 THIS
1 IS
2 A
3 NICE
4 STUFFTHIS
5 IS
6 A
7 NICE
8 STUFF

In [60]:
for elem in l:
    print(elem)

THIS
IS
A
NICE
STUFFTHIS
IS
A
NICE
STUFF

In [61]:
for i in range(len(l)):
    print(l[i])

THIS
IS
A
NICE
STUFFTHIS
IS
A
NICE
STUFF

In [62]:
l

['THIS', 'IS', 'A', 'NICE', 'STUFFTHIS', 'IS', 'A', 'NICE', 'STUFF']

In [64]:
for elem in l[3:6]:
    print(elem)

NICE
STUFFTHIS
IS

In [65]:
l

['THIS', 'IS', 'A', 'NICE', 'STUFFTHIS', 'IS', 'A', 'NICE', 'STUFF']

In [66]:
l[:3]

['THIS', 'IS', 'A']

In [67]:
l[3:]

['NICE', 'STUFFTHIS', 'IS', 'A', 'NICE', 'STUFF']

In [68]:
l[-1]

'STUFF'

In [73]:
l[:-2]

['THIS', 'IS', 'A', 'NICE', 'STUFFTHIS', 'IS', 'A']

In [71]:
l[::2]

['THIS', 'A', 'STUFFTHIS', 'A', 'STUFF']

In [72]:
l

['THIS', 'IS', 'A', 'NICE', 'STUFFTHIS', 'IS', 'A', 'NICE', 'STUFF']

#### Tuples
* they are immutable

In [86]:
a = 6
t = (a,)

In [87]:
type(t)

tuple

In [89]:
t[0]

6

In [78]:
#t[1] = 9

#### Dictionary
* Unordered
* Key value storage

In [79]:
d = dict() #Create an empty dictionary

In [81]:
d = {} #Create an empty dictionary

In [90]:
d['a'] = 10

In [91]:
d = {'a':1, 'b':2, 'c':3}

In [92]:
d

{'a': 1, 'b': 2, 'c': 3}

In [93]:
d['x'] = 100

In [94]:
d

{'a': 1, 'b': 2, 'c': 3, 'x': 100}

In [96]:
d['x'] = 9999

In [97]:
d

{'a': 1, 'b': 2, 'c': 3, 'x': 9999}

In [98]:
l

['THIS', 'IS', 'A', 'NICE', 'STUFFTHIS', 'IS', 'A', 'NICE', 'STUFF']

In [99]:
d['my_list'] = l

In [100]:
d

{'a': 1,
 'b': 2,
 'c': 3,
 'my_list': ['THIS',
  'IS',
  'A',
  'NICE',
  'STUFFTHIS',
  'IS',
  'A',
  'NICE',
  'STUFF'],
 'x': 9999}

In [102]:
for key,value in d.items():
    print(key,value)

my_list ['THIS', 'IS', 'A', 'NICE', 'STUFFTHIS', 'IS', 'A', 'NICE', 'STUFF']
b 2
x 9999
a 1
c 3

In [103]:
d.items()

dict_items([('my_list', ['THIS', 'IS', 'A', 'NICE', 'STUFFTHIS', 'IS', 'A', 'NICE', 'STUFF']), ('b', 2), ('x', 9999), ('a', 1), ('c', 3)])

In [104]:
d.keys()

dict_keys(['my_list', 'b', 'x', 'a', 'c'])

### Functions
* Data is passed to a function using tuple 
* Data is returned from a function using tuple

In [111]:
def myFunc(arg1, arg2):
    arg1 = 10
    print(str(arg1)+arg2)
    return 'Hello','World','Here','I','come'
    
data = myFunc('Hello','World')

10World

In [109]:
data

('Hello', 'World', 'Here', 'I', 'come')

In [112]:
def outFunc(data=10):
    def myFunc():
        return data*data
    
    return myFunc()

print(outFunc())

100

In [114]:
def vargsFunc(*args):
    for arg in args:
        print(arg)
    
vargsFunc(['abc','def'])

['abc', 'def']

In [118]:
def argFunc(name,age):
    print(name,age)
    
l = ('abcd',55)
argFunc(*l)

abcd 55

In [119]:
def moreFunc(name,age):
    print(name,age)
    
moreFunc(age=10,name='awantik')

awantik 10

In [120]:
db = {'age':100, 'name':'Awantik'}

In [121]:
moreFunc(**db)

Awantik 100

In [126]:
def kargsFunc(**kwargs):
    try:
        a = kwargs['abc']
        print(a)
    except:
        print(kwargs)
    
kargsFunc(abc=99,ydef=77)
kargsFunc(abcd=99,xdef=77)

99
{'abcd': 99, 'xdef': 77}