* Handling & Manupulating string data is one very imp thing
* It provides comprehensive set of vectorized string operations for various types of data munging

### Pandas String Operations

In [1]:
import pandas as pd

In [2]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [4]:
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [4]:
monte.str.upper()

0    GRAHAM CHAPMAN
1       JOHN CLEESE
2     TERRY GILLIAM
3         ERIC IDLE
4       TERRY JONES
5     MICHAEL PALIN
dtype: object

In [6]:
monte.str.contains('a')

0     True
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [7]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [9]:
# Read all characters, till you find the condition matching
type(monte.str.extract('([A-Zd-s]+)',expand=False))

pandas.core.series.Series

In [10]:
type(monte.str.extract('([A-Zd-s]+)',expand=True))

pandas.core.frame.DataFrame

In [16]:
monte.str.findall(r'^[AEIOU].*[aeiou]$')

0             []
1             []
2             []
3    [Eric Idle]
4             []
5             []
dtype: object

In [17]:
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [18]:
monte.str.

Help on method get_dummies in module pandas.core.strings:

get_dummies(sep='|') method of pandas.core.strings.StringMethods instance
    Split each string in the Series by sep and return a frame of
    dummy/indicator variables.

    Parameters
    ----------
    sep : string, default "|"
        String to split on.

    Returns
    -------
    dummies : DataFrame

    Examples
    --------
    >>> Series(['a|b', 'a', 'a|c']).str.get_dummies()
       a  b  c
    0  1  1  0
    1  1  0  0
    2  1  0  1

    >>> Series(['a|b', np.nan, 'a|c']).str.get_dummies()
       a  b  c
    0  1  1  0
    1  0  0  0
    2  1  0  1

    See Also
    --------
    pandas.get_dummies

In [11]:
import seaborn

In [12]:
help(seaborn.load_dataset)

Help on function load_dataset in module seaborn.utils:

load_dataset(name, cache=True, data_home=None, **kws)
    Load a dataset from the online repository (requires internet).

    Parameters
    ----------
    name : str
        Name of the dataset (`name`.csv on
        https://github.com/mwaskom/seaborn-data).  You can obtain list of
        available datasets using :func:`get_dataset_names`
    cache : boolean, optional
        If True, then cache data locally and use the cache on subsequent calls
    data_home : string, optional
        The directory in which to cache data. By default, uses ~/seaborn_data/
    kws : dict, optional
        Passed to pandas.read_csv

In [14]:
planets = pd.read_csv('https://github.com/mwaskom/seaborn-data/blob/master/planets.csv')

CParserError: Error tokenizing data. C error: Expected 1 fields in line 107, saw 3

In [16]:
planets = seaborn.load_dataset('planets')

In [17]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [24]:
df = planets[['method']]

In [19]:
df.pivot_table()

           number                                                 \
method Astrometry Eclipse Timing Variations Imaging Microlensing
year
1989          NaN                       NaN     NaN          NaN
1992          NaN                       NaN     NaN          NaN
1994          NaN                       NaN     NaN          NaN
1995          NaN                       NaN     NaN          NaN
1996          NaN                       NaN     NaN          NaN
1997          NaN                       NaN     NaN          NaN
1998          NaN                       NaN     NaN          NaN
1999          NaN                       NaN     NaN          NaN
2000          NaN                       NaN     NaN          NaN
2001          NaN                       NaN     NaN          NaN
2002          NaN                       NaN     NaN          NaN
2003          NaN                       NaN     NaN          NaN
2004          NaN                       NaN   1.000     1.000000
2005          NaN                       NaN   1.000     1.000000
2006          NaN                       NaN   1.000     1.000000
2007          NaN                       NaN   1.000          NaN
2008          NaN                  2.000000   2.125     1.500000
2009          NaN                  1.000000   1.000     1.000000
2010          1.0                  2.000000   1.500     1.000000
2011          NaN                  1.666667   1.000     1.000000
2012          NaN                  1.000000   1.000     1.333333
2013          1.0                       NaN   1.000     1.000000
2014          NaN                       NaN     NaN          NaN

                                                    \
method Orbital Brightness Modulation Pulsar Timing
year
1989                             NaN           NaN
1992                             NaN           3.0
1994                             NaN           3.0
1995                             NaN           NaN
1996                             NaN           NaN
1997                             NaN           NaN
1998                             NaN           NaN
1999                             NaN           NaN
2000                             NaN           NaN
2001                             NaN           NaN
2002                             NaN           NaN
2003                             NaN           1.0
2004                             NaN           NaN
2005                             NaN           NaN
2006                             NaN           NaN
2007                             NaN           NaN
2008                             NaN           NaN
2009                             NaN           NaN
2010                             NaN           NaN
2011                             2.0           1.0
2012                             NaN           NaN
2013                             1.0           NaN
2014                             NaN           NaN

                                                              \
method Pulsation Timing Variations Radial Velocity   Transit
year
1989                           NaN        1.000000       NaN
1992                           NaN             NaN       NaN
1994                           NaN             NaN       NaN
1995                           NaN        1.000000       NaN
1996                           NaN        2.500000       NaN
1997                           NaN        1.000000       NaN
1998                           NaN        2.200000       NaN
1999                           NaN        1.600000       NaN
2000                           NaN        1.687500       NaN
2001                           NaN        1.250000       NaN
2002                           NaN        1.451613  1.000000
2003                           NaN        1.416667       NaN
2004                           NaN        1.882353  1.000000
2005                           NaN        1.694444       NaN
2006                           NaN        1.571429  1.000000
2007                           1.0        1.342857  1.000000
2008                           NaN        1.767442  1.000000
2009                           NaN        1.418919  1.111111
2010                           NaN        2.139535  1.770833
2011                           NaN        1.872340  2.025000
2012                           NaN        1.842105  1.902174
2013                           NaN        2.241379  2.626667
2014                           NaN        1.909091  2.325000

                                            ...              distance  \
method Transit Timing Variations            ...            Astrometry
year                                        ...
1989                         NaN            ...                   NaN
1992                         NaN            ...                   NaN
1994                         NaN            ...                   NaN
1995                         NaN            ...                   NaN
1996                         NaN            ...                   NaN
1997                         NaN            ...                   NaN
1998                         NaN            ...                   NaN
1999                         NaN            ...                   NaN
2000                         NaN            ...                   NaN
2001                         NaN            ...                   NaN
2002                         NaN            ...                   NaN
2003                         NaN            ...                   NaN
2004                         NaN            ...                   NaN
2005                         NaN            ...                   NaN
2006                         NaN            ...                   NaN
2007                         NaN            ...                   NaN
2008                         NaN            ...                   NaN
2009                         NaN            ...                   NaN
2010                         NaN            ...                 14.98
2011                         2.0            ...                   NaN
2012                         2.0            ...                   NaN
2013                         2.0            ...                 20.77
2014                         3.0            ...                   NaN

                                                           \
method Eclipse Timing Variations     Imaging Microlensing
year
1989                         NaN         NaN          NaN
1992                         NaN         NaN          NaN
1994                         NaN         NaN          NaN
1995                         NaN         NaN          NaN
1996                         NaN         NaN          NaN
1997                         NaN         NaN          NaN
1998                         NaN         NaN          NaN
1999                         NaN         NaN          NaN
2000                         NaN         NaN          NaN
2001                         NaN         NaN          NaN
2002                         NaN         NaN          NaN
2003                         NaN         NaN          NaN
2004                         NaN  110.466667          NaN
2005                         NaN   45.520000          NaN
2006                         NaN   29.620000          NaN
2007                         NaN  165.000000          NaN
2008                      130.72   48.631667          NaN
2009                         NaN   21.293333          NaN
2010                      500.00   93.660000          NaN
2011                         NaN   21.150000          NaN
2012                         NaN   31.065000       3925.0
2013                         NaN   91.050000       4472.5
2014                         NaN         NaN          NaN

                                                    \
method Orbital Brightness Modulation Pulsar Timing
year
1989                             NaN           NaN
1992                             NaN           NaN
1994                             NaN           NaN
1995                             NaN           NaN
1996                             NaN           NaN
1997                             NaN           NaN
1998                             NaN           NaN
1999                             NaN           NaN
2000                             NaN           NaN
2001                             NaN           NaN
2002                             NaN           NaN
2003                             NaN           NaN
2004                             NaN           NaN
2005                             NaN           NaN
2006                             NaN           NaN
2007                             NaN           NaN
2008                             NaN           NaN
2009                             NaN           NaN
2010                             NaN           NaN
2011                          1180.0        1200.0
2012                             NaN           NaN
2013                             NaN           NaN
2014                             NaN           NaN

                                                                 \
method Pulsation Timing Variations Radial Velocity      Transit
year
1989                           NaN       40.570000          NaN
1992                           NaN             NaN          NaN
1994                           NaN             NaN          NaN
1995                           NaN       15.360000          NaN
1996                           NaN       15.866667          NaN
1997                           NaN       17.430000          NaN
1998                           NaN       26.302000          NaN
1999                           NaN       30.947333          NaN
2000                           NaN       30.752500          NaN
2001                           NaN       36.531667          NaN
2002                           NaN       44.396129          NaN
2003                           NaN       43.085417          NaN
2004                           NaN       39.187647  1084.100000
2005                           NaN       46.511111          NaN
2006                           NaN       43.008095  3504.800000
2007                           NaN       61.573333   379.094286
2008                           NaN       56.967674   254.823077
2009                           NaN       60.842817   269.665556
2010                           NaN       51.177674   480.908095
2011                           NaN       58.762688   683.233929
2012                           NaN       62.226176   514.087917
2013                           NaN       54.013929   573.800000
2014                           NaN       44.510000   517.500000


method Transit Timing Variations
year
1989                         NaN
1992                         NaN
1994                         NaN
1995                         NaN
1996                         NaN
1997                         NaN
1998                         NaN
1999                         NaN
2000                         NaN
2001                         NaN
2002                         NaN
2003                         NaN
2004                         NaN
2005                         NaN
2006                         NaN
2007                         NaN
2008                         NaN
2009                         NaN
2010                         NaN
2011                      2119.0
2012                       855.0
2013                       339.0
2014                         NaN

[23 rows x 40 columns]

In [ ]:
import